torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
transformers==4.57.1
accelerate==1.10.1
sentencepiece==0.2.2
protobuf==6.33.6
Pillow==11.3.0
timm==0.9.6
einops
omegaconf
easydict
typed-argument-parser
colorama
pandas
scipy
opencv-python-headless<4.12
pyyaml
kornia
wandb
packaging
ninja
psutil
pytz
imageio
